@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-select {
    @apply relative inline-block w-48;
}

.custom-select {
    @apply block w-[200px] px-4 py-2 text-base border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-violet-600 focus:border-violet-600;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5' /%3E%3C/svg%3E%0A");
    background-size: 14px;
}

select option:checked {
    background-color: #9370DB; /* Violeta */
    color: #fff; /* Texto blanco */
  }
  select option:hover {
    background-color: #9370DB; /* Violeta */
    color: #fff; /* Texto blanco */
  }